.slide-container {
  position: relative;
  width: 100%;
  border-radius: 2rem; /* Mesmo border-radius da imagem */
}

/* Estilo para a imagem do slide */
.slide-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem; /* Border-radius igual ao container */
}

.swiper-slide:not(.swiper-slide-active) .slide-container {
  pointer-events: none;
}

.swiper-slide:not(.swiper-slide-active) .slide-container  {
  pointer-events: none;
}

.swiper-title {
  opacity: 100;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-weight: bold;
  color: #fff;
  z-index: 10;
  font-size: 1.5rem;
}

.swiper-slide:not(.swiper-slide-active) .swiper-title  {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
  transition: opacity 0.5s ease, background 0.5s ease;
  border-radius: 2rem;
  opacity: 1;
}

.overlay h2 {
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.overlay p {
  visibility: hidden;
  opacity: 0;
  font-size: 1rem;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.overlay button {
  opacity: 0;
  cursor: pointer;
}

.overlay span {
  visibility: hidden;
  opacity: 0;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

/* Efeito ao passar o mouse */
.slide-container:hover .overlay {
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
  opacity: 1; /* Overlay aparece ao passar o mouse */
}

.slide-container:hover .overlay h2,
.slide-container:hover .overlay p,
.slide-container:hover .overlay span,
.slide-container:hover .overlay button {
  visibility: visible; /* Tornar visível */
  opacity: 1; /* Tornar opaco */
  transition-delay: 0s; /* Remove o atraso na transição de volta */
}

/* Pagination styles */
.swiper-pagination {
  position: relative;
  width: 100% !important;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #00AD9F; /* Or #26A69A to match the button */
  opacity: 1;
}

/* Other Swiper styles */
.swiper-slide img {
  width: 64rem;
  height: 21rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper_container {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 60rem;
  height: 42rem;
  position: relative;
}


.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
}

.slider-controler {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 200px;
  position: relative;
}